body{
	background-color: #E2F3F6;
	font-family: 'Exo', sans-serif;
}
.head{
	text-align: center;
	margin: auto;	
}
.media{
	margin: 30px;
	margin-left: 10%;
	width: 70%;
	height: auto;
	text-align: justify;
}
.footer{
	background-color: #1A5B67;
	width: 100%;
	height: 55px;
	margin: auto;
	padding: 5px;	
	text-align: center;
	margin-top: 20px;
	overflow-y: hidden;
}
@media (max-width: 700px) {
.media img{
	display: none;}
}
/*@media (max-width: 1024px) {
.media img{
	display: none;}
}*/